@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Inter";
}

.head-1 {
  font-size: 4rem;
  font-weight: 600;
  line-height: 4.75rem;
}

.head-2 {
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 3.75rem;
}

.head-3 {
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 2.25rem;
}

.head-4 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 2.25rem;
}

.body-r-1 {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.75rem;
}

.body-r-2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5rem;
}

.body-r-3 {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.25rem;
}

.body-r-4 {
  font-size: 12px;
  font-weight: 400;
  line-height: 1rem;
}

.body-m-1 {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.75rem;
}

.body-m-2 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5rem;
}

.body-m-3 {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.25rem;
}

.body-m-4 {
  font-size: 12px;
  font-weight: 500;
  line-height: 1rem;
}
